.container {
	display: flex;
	flex-direction: column;
}

.mui-popup-backdrop.mui-active {
	z-index: 9999;
}

input[type=text] {
	margin: 0;
	line-height: normal;
	padding: 0;
}

.search-options {
	background-color: #ffffff;
	padding-top: 0.4rem;
}

.search-options .search-box {
	display: flex;
	align-items: center;
	width: 100%;
	height: 1.1533rem;
	background-color: #F6F8FA;
	border-radius: 0.1333rem;
	box-sizing: border-box;
	padding: 0 0.4rem;
}

.search-options .search-box .search-icon {
	width: 0.51rem;
	height: 0.51rem;
	background-image: url(../../images/search/search_icon.png);
	background-size: 100% 100%;
}

.search-options .search-box .keyword {
	flex: 1;
	border: 0 none;
	outline: none;
	height: 100%;
	box-sizing: border-box;
	padding-left: 0.2667rem;
	background-color: #F6F8FA;
	font-size: 0.4rem;
}

.search-options .category-2 {
	display: flex;
	align-items: center;
	justify-content: space-around;
	box-sizing: border-box;
	padding: 0rem 0.8rem;
	font-size: 0.4rem;
	color: #333333;
	position: relative;
}

.search-options .category-2 .cat {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 33.333%;
	overflow: hidden;
	padding: 0.4rem 0;
}

.search-options .category-2 .cat .cat-icon {
	width: 0.2133rem;
	height: 0.1333rem;
	margin-left: 0.2667rem;
}

.search-options .category-2 .cat span {
	white-space: nowrap;
	max-width: 80%;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 1;
	overflow: hidden;
}

.search-options .category-2 .cat.active .cat-icon {
	transform: rotateZ(180deg);
}

.search-options .category-2 .cat.active .cat-modal {
	height: auto;
}

.search-options .category-2 .cat-modal {
	position: absolute;
	left: 0;
	top: 1.3rem;
	text-align: center;
	font-size: 0.3733rem;
	width: 100%;
	background-color: #F6F8FA;
	line-height: 1.0667rem;
	height: 0;
	max-height: 5.3333rem;
	overflow-y: scroll;
	transition: all 0.5s;
}

.search-options .category-2 .cat-modal .cat-item.active {
	color: #4D8DEB;
}

.search-options .category-2 .cat-modal.city-box {
	display: flex;
}

.search-options .category-2 .cat-modal.city-box .province,
.search-options .category-2 .cat-modal.city-box .city {
	flex: 1;
	max-height: 100%;
	overflow-y: scroll;
}

.search-options .category-2 .cat-modal.city-box .province .prov-item.active,
.search-options .category-2 .cat-modal.city-box .city .prov-item.active,
.search-options .category-2 .cat-modal.city-box .province .city-item.active,
.search-options .category-2 .cat-modal.city-box .city .city-item.active {
	color: #4D8DEB;
}

.search-options .category-2 .cat-modal.city-box .city {
	background-color: #fafafa;
}

.search-options .category-1 {
	display: flex;
	justify-content: space-between;
	color: #333;
	font-size: 0.4rem;
	padding: 0.4rem 0.8rem;
	box-sizing: border-box;
	border-bottom: 1px solid #F2F2F2;
	position: relative;
}

.search-options .category-1 .cat-modal {
	position: absolute;
	left: 0;
	top: 1.3rem;
	text-align: center;
	font-size: 0.3733rem;
	width: 100%;
	background-color: #F6F8FA;
	line-height: 1.0667rem;
	height: 0;
	max-height: 5.3333rem;
	overflow-y: scroll;
}

.search-options .category-1 .cat-modal .cat-item.active {
	color: #4D8DEB;
}

.search-options .category-1 .cat.selected .cat-modal {
	height: auto;
	z-index: 888;
	padding: 0.2667rem 0;
}

.search-options .category-1 .cat.active {
	color: #333333;
}

.search-options .category-1 .project {
	display: flex;
	align-items: center;
}

.search-options .category-1 .project .cat-icon {
	width: 0.2133rem;
	height: 0.1467rem;
	margin-left: 0.1333rem;
}

.list-box {
	flex: 1;
	overflow-y: scroll;
	background-color: #ecf4ff;
	padding: 0.4rem 0;
}

.list-box .no-data {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.list-box .no-data .no-data-box {
	text-align: center;
	display: block;
}

.list-box .no-data .no-data-box .title {
	font-size: 0.4267rem;
	color: #666666;
	text-align: center;
	display: block;
	margin-bottom: 0.52rem;
}

.list-box .no-data .no-data-box .tip-item {
	font-size: 0.3733rem;
	color: #999999;
	margin-bottom: 0.3867rem;
}

.list-box .no-data .no-data-box .tip-item .red {
	color: #F4462F;
}

.list-box-title {
	font-size: 0.3733rem;
	color: #999999;
  /*margin-bottom: 0.4rem;*/
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0.4rem 0.4rem 0.2rem 0.4rem;
	background: #ecf4ff;
}

.list-box-title span {
	color: #2C78E8;
}

.list-box-title .right {
	display: flex;
	align-items: center;
}

.list-box-title .right > div {
	width: 1.2rem;
	height: 0.64rem;
	background: #ecf4ff;
	border: 1px solid #666666;
	border-radius: 3px;
	color: #666666;
	font-size: 0.3733rem;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: 0.2667rem;
}

.list-box-title .right > div.active {
	background-color: #2C78E8;
	border: 0 none;
	color: #ffffff;
}

.list-box .list-item {
	background-color: #ffffff;
	box-sizing: border-box;
	padding: 0.4rem 0;
	border-radius: 0.1333rem;
	margin-bottom: 0.2667rem;
	display: block;
}

.list-box .list-item  .name,.list-box .list-item  .desc,.list-box .list-item  .time_show {
	padding-left: 0.4rem;
	padding-right: 0.4rem;
}

.lipadding {
	padding: 0 0.4rem
}

.list-box .list-item .name {
	font-size: 0.3733rem;
	font-weight: 600;
	text-align: justify;
	line-height: 0.5067rem;
}

.list-box .list-item .desc {
	display: flex;
	justify-content: space-between;
	font-size: 0.32rem;
	margin: 0.32rem 0;
	align-items: center;
}

.list-box .list-item .desc .tag span {
	display: inline-block;
	color: #ffffff;
	padding: 0.06rem 0.1333rem;
	border-radius: 0.04rem;
	background-color: #ECF4FF;
	color: #666666;
}
.list-box .list-item .desc .tag span.type-name {
	background:#297cf7;
    color: #ffffff;
    padding-left: 0.34rem;
    padding-right: 0.34rem;
    border-radius: 0.04rem;
}

.list-box .list-item .desc .time {
	color: #999999;
}

.myfollow {
	width: 2.2rem;
	height: 1.1867rem;
	position: fixed;
	right: 0.2267rem;
	bottom: 1.8267rem;
	color: #ffffff;
	font-size: 0.3467rem;
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: url(../../../images/search/myfollow.png);
	background-size: 100% 100%;
}

.setting {
	position: fixed;
	width: 2.2rem;
	height: 1.1867rem;
	right: 0.2267rem;
	bottom: 0.56rem;
	color: #ffffff;
	font-size: 0.3467rem;
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: url(../../../images/search/setting.png);
	background-size: 100% 100%;
}

.search-modal {
	position: relative;
	z-index: 100;
	flex: 1;
	background-color: rgba(0, 0, 0, 0.7);
	border-top: 1px solid #F2F2F2;
	overflow: hidden;
}

.search-modal .modal {
	width: 100%;
	height: 100%;
	background-color: #ffffff;
	display: flex;
	flex-direction: column;
	font-size: 0.3733rem;
}

.search-modal .modal .main {
	position: relative;
	background-color: #ffffff;
	flex: 1;
}

.search-modal .modal .main .level-1 {
	width: 2.5333rem;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	background-color: #EBEDF0;
	box-sizing: border-box;
}

.search-modal .modal .main .level-1 > .item {
	width: 100%;
	height: 1.2rem;
	display: flex;
	justify-content: center;
	align-items: center;
}

.search-modal .modal .main .level-1 > .item.active {
	background-color: #ffffff;
}

.search-modal .modal .main .level-1 > .item.active > .name {
	color: #2C78E8;
}

.search-modal .modal .main .level-1 > .item.active .level-2 {
	display: block;
}

.search-modal .modal .main .level-2,
.search-modal .modal .main .level-3 {
	position: absolute;
	/*display: none;*/
	top: 0;
	left: 2.5333rem;
	width: 2.1333rem;
	height: 100%;
	background-color: #F0F2F5;
}

.search-modal .modal .main .level-2 > .item,
.search-modal .modal .main .level-3 > .item {
	width: 100%;
	height: 1.2rem;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #666666;
}

.search-modal .modal .main .level-2 > .item.active,
.search-modal .modal .main .level-3 > .item.active {
	background-color: #F6F8FA;
}

.search-modal .modal .main .level-2 > .item.active .level-3,
.search-modal .modal .main .level-3 > .item.active .level-3 {
	display: block;
}

.search-modal .modal .main .level-2 > .item.active > .name,
.search-modal .modal .main .level-3 > .item.active > .name {
	color: #2C78E8;
}

.search-modal .modal .main .level-3 {
	position: absolute;
	left: 2.1333rem;
	top: 0;
	background-color: #F6F8FA;
}

.search-modal .modal .main .level-3 > .item.active {
	background-color: #F6F8FA;
}

.search-modal .modal .main .level-3 > .item.active .level-4 {
	display: block;
}

.search-modal .modal .main .level-3 > .item.active > .name {
	color: #2C78E8;
}

.search-modal .modal .main .level-4 {
	position: absolute;
	/*display: none;*/
	left: 2.1333rem;
	top: 0;
	width: 3.2rem;
	height: 100%;
}

.search-modal .modal .main .level-4 > .item {
	width: 100%;
	height: 1.2rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: #666666;
	box-sizing: border-box;
	padding: 0 0.4rem;
}

.search-modal .modal .main .level-4 > .item .icon {
	width: 0.5067rem;
	height: 0.5067rem;
	background-image: url(../../../images/setting/unselected.png);
	background-size: 100% 100%;
}

.search-modal .modal .main .level-4 > .item.active .name {
	color: #2C78E8;
}

.search-modal .modal .main .level-4 > .item.active .icon {
	background-image: url(../../../images/setting/selected.png);
}

.search-modal .modal .handles {
	width: 100%;
	height: 1.3333rem;
	line-height: 1.3333rem;
	text-align: center;
	display: flex;
}

.search-modal .modal .handles .select-all {
	width: 2.9333rem;
	color: #333333;
}

.search-modal .modal .handles .confirm {
	flex: 1;
	background-color: #2C78E8;
	color: #ffffff;
}

.search-modal .modal-4 .main,
.search-modal .modal-3 .main {
	box-sizing: border-box;
	padding: 0.5333rem 0.4rem;
}

.search-modal .modal-4 .main .date-box,
.search-modal .modal-3 .main .date-box {
	display: flex;
	align-items: center;
	justify-content: space-between;
	overflow: hidden;
}

.search-modal .modal-4 .main .date-box .data-item,
.search-modal .modal-3 .main .date-box .data-item {
	height: 0.8533rem;
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 3px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 0.3733rem;
	color: #666666;
	padding: 0 0.4rem;
	box-sizing: border-box;
}

.search-modal .modal-4 .main .date-box .data-item.active,
.search-modal .modal-3 .main .date-box .data-item.active {
	background-color: #2C78E8;
	color: #ffffff;
	border: 0 none;
}

.search-modal .modal-4 .main .time-box,
.search-modal .modal-3 .main .time-box {
	margin-top: 0.4rem;
}

.search-modal .modal-4 .main .content,
.search-modal .modal-3 .main .content,
.search-modal .modal-4 .main .time-box,
.search-modal .modal-3 .main .time-box {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.search-modal .modal-4 .main .content .data-box,
.search-modal .modal-3 .main .content .data-box,
.search-modal .modal-4 .main .time-box .data-box,
.search-modal .modal-3 .main .time-box .data-box {
	/*width: 3.7333rem;*/
	height: 0.8533rem;
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 3px;
}

.search-modal .modal-4 .main .content .data-box .data-value,
.search-modal .modal-3 .main .content .data-box .data-value,
.search-modal .modal-4 .main .time-box .data-box .data-value,
.search-modal .modal-3 .main .time-box .data-box .data-value {
	width: 100%;
	height: 100%;
	border: 0 none;
	outline: none;
	text-align: center;
	font-size: 0.3733rem;
}

.search-modal .modal-4 .main .content .line,
.search-modal .modal-3 .main .content .line,
.search-modal .modal-4 .main .time-box .line,
.search-modal .modal-3 .main .time-box .line {
	width: 0.8rem;
	height: 1px;
	background: #666666;
}

.search-modal {
	/*display: none;*/
}

.zhongbiao,.zhaobiao,.reset,.confirm,.item,.project {
	cursor: pointer;
}

.level-item-1,.level-item-2,.level-item-3,.level-item-5 {
	cursor: pointer;
}

.data-item {
	cursor: pointer;
}

.search-modal .modal .handles {
	z-index: 99999;
}

.search-modal .modal .handles .select-all {
	background: #fff;
}

.list-box .list-item .desc .tag span.stage_zhongbiao {
	background: #f4462f;
	color: #fff;
}

.time_show {
	margin-top: 0.32rem;
	font-size: 0.29333rem;
}

.time_item {
	line-height: 24px;
	width: 30%;
	float: left;
	display: flex;
    justify-content: center;
    align-items: center;
}

.time_item.daoshu {
	width: 40%;
}

.time_item img {
	height: 0.37333rem;
	width:0.37333rem;
	vertical-align: middle;
	margin-right: 0.2rem;
}

.time_item i {
	font-weight: bold;
	font-style: normal;
}

.lev-item-marginb {
	margin-bottom: 0.2rem;
}

.search-modal .modal .handles .select-all {
	float: left;
}
        /*.search-modal .modal .handles{position:fixed;bottom:0;}*/
.clear {
	clear: both;
}

.search-options .category-1 {
	padding-bottom: 0px;
}

.search-options .category-1 .cat {
	padding-bottom: 0.26667rem
}

.search-options .category-1 .cat .cat-item {
	color: #333;
}

.search-options .category-1 .cat.active {
	color: #297cf7;
	border-bottom: 2px solid #297cf7;
}

.proper-item {
	display: block;
	padding: 0.32rem;
	position: relative;
	background: #fff;
	margin-bottom: 0.3rem;
}

.proper-item-title {
	font-size: 0.3733rem;
	font-weight: bold;
	margin-bottom: 0.2rem;
	max-width: 90%;
}

.proper-item-info {
	font-size: 0.32rem;
	color: #666;
}

.proper-item-info i {
	font-style: normal;
	color: #F4462F;
}

.proper-item img {
	position: absolute;
	right: 0.5rem;
	top: 0.85rem;
	width: 0.2rem;
}

.search-modal .modal .main .level-1 {
	width: 2.5333rem;
	height: 100%;
	position: fixed;
	left: 0;
	top: 4.2rem;
	background-color: #EBEDF0;
	box-sizing: border-box;
	overflow-y: scroll;
/*overflow-x: hidden;*/
	z-index: 11;
}

.search-modal .modal .main .level-2, .search-modal .modal .main .level-3 {
	position: fixed;
	/*display: none;*/
	top: 4.2rem;
	left: 2.5333rem;
	width: 2.1333rem;
	height: 100%;
	background-color: #F0F2F5;
	overflow-y: scroll;
            /*overflow-x: hidden;*/
	z-index: 22;
}

.search-modal .modal .main .level-3 {
	position: fixed;
	left: 4.6rem;
	top: 4.2rem;
	background-color: #F6F8FA;
	overflow-y: scroll;
                /*overflow-x: hidden;*/
	z-index: 33;
}

.search-modal .modal .main .level-4 {
	background-color: #ffffff;
	position: fixed;
	/*display: none;*/
	left: 6.73rem;
	top: 4.2rem;
	width: 3.3rem;
	height: 100%;
	overflow-y: scroll;
            /*overflow-x: hidden;*/
	z-index: 44;
}

.mainsharp {
	display: flex;
	overflow: hidden;
}

.mainsharp .level1 {
	width: 1.9rem;
	height: 100%;
	overflow-y: scroll;
	background-color: #EBEDF0;
}

#main-2 .level1 {
	width: 3rem;
	height: 100%;
	overflow-y: scroll;
	background-color: #EBEDF0;
}

.mainsharp .level1 .name.active {
	background-color: #ffffff;
}

.mainsharp .level2 {
	width: 1.9rem;
	height: 100%;
	overflow-y: scroll;
	background-color: #F0F2F5;
}

.mainsharp .level3 {
	width: 1.9rem;
	height: 100%;
	overflow-y: scroll;
	background-color: #F6F8FA;
}

.mainsharp .level4 {
	width: 1.9rem;
	height: 100%;
	overflow-y: scroll;
	background-color: #F0F2F5;
}

.mainsharp .level5 {
	flex: 1;
	height: 100%;
	overflow-y: scroll;
	background-color: #ffffff;
    /* max-height: 500px; */
}

.mainsharp .level5 .item {
	width: 100%;
	min-height: 1.2rem;
	height: auto;
	color: #666666;
	box-sizing: border-box;
	padding: 0.1333rem 0.3rem;
	display: flex;
	align-items: center;
}

.mainsharp .level5 .item.active .name {
	color: #2C78E8;
}

.mainsharp .level5 .item.active .icon {
	width: 0.5067rem;
	height: 0.5067rem;
	background-image: url(../../images/setting/selected.png);
	background-size: 100% 100%;
}

.mainsharp .level5 .name {
	min-height: auto;
	height: auto;
	flex: 1;
	padding: 0;
	word-break: break-all;
	text-overflow: ellipsis;
	overflow: hidden;
  /*display: -webkit-box;*/
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	box-sizing: border-box;
	text-align: left;
}

.mainsharp .level5 .icon {
	width: 0.5067rem;
	height: 0.5067rem;
	background-image: url(../../images/setting/unselected.png);
	background-size: 100% 100%;
}

.mainsharp .name {
	width: 100%;
	min-height: 1.2rem;
	height: auto;
	color: #666666;
	box-sizing: border-box;
	padding: 0.1333rem 0.1rem;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	cursor: pointer;
}

.mainsharp .name.dn {
	display: none;
}

.mainsharp .name.show {
	display: flex;
}

.mainsharp .level-item-5.dn {
	display: none;
}

.mainsharp .level-item-5.show {
	display: flex;
}

.mainsharp .name.active {
	color: #2C78E8;
}

.mainsharp .level2 .name.active {
	background-color: #F6F8FA;
}

.mainsharp .level3 .name.active {
	background-color: #F6F8FA;
}

.search-modal-key .modal-4 .main .content {
	display: inherit;
}

.key_title {
	display: flex;
	justify-content: space-between;
}

.key_item {
	line-height: .8533rem;
	background: #f2f2f2;
	color: #666;
	border-radius: .1333rem;
	font-size: .3733rem;
	padding: 0 .2667rem;
	margin-right: .5333rem;
	margin-top: .5333rem;
}

.key_item_list {
	display: flex;
	flex-wrap: wrap;
}

.search-modal-key {
	margin-top: -1.3rem;
}