.container {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 0.4rem;
  background-color: #ECF4FF;
}
.set {
  width: 100%;
  background: #ffffff;
  border-radius: 0.1333rem;
  box-sizing: border-box;
  padding: 0 0.4rem;
}
.set .item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 0.4rem;
  font-size: 0.3733rem;
  border-bottom: 0.0133rem solid #E6E6E6;
  background-image: url(../../images/search/grey_arrow_right.png);
  background-repeat: no-repeat;
  background-position: right center;
  background-size: auto 0.3733rem;
  position: relative;
}
.set .item.selected .select-list {
  height: auto;
}
.set .item .select-list {
  position: absolute;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
  top: 1.3rem;
  background-color: #ECF4FF;
  z-index: 10;
  width: 100vw;
  box-sizing: border-box;
  padding: 0 0.4rem;
  max-height: 5.6rem;
  overflow-y: scroll;
  transition: all 0.5s;
  font-size: 0.3733rem;
  height: 0;
}
.set .item .select-list .item-box {
  background-color: #F6F8FA;
  box-sizing: border-box;
  padding: 0 0.4rem;
}
.set .item .select-list .select-item {
  line-height: 1.0667rem;
  box-sizing: border-box;
  text-align: center;
}
.set .item .select-list .select-item.active {
  color: #4D8DEB;
}
.set .item .desc {
  color: #999999;
}
.set .item.header {
  font-size: 0.4267rem;
  font-weight: 600;
  border-top: 0 none;
  padding-right: 0;
  background-image: none;
}
.set .item.header img {
  width: 0.4267rem;
  height: auto;
}
.statistics {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 0.3733rem;
  color: #999999;
  margin-top: 0.5333rem;
}
.statistics .count .total {
  color: #2C78E8;
}
.tab-box {
  width: 100%;
  white-space: nowrap;
  border-radius: 0.1333rem;
  background-color: #ffffff;
  box-sizing: border-box;
  overflow-y: hidden;
  overflow-x: scroll;
  padding: 0 0.4rem;
  margin-top: 0.5333rem;
}
.tab-box .tab-item {
  font-size: 0.3733rem;
  height: 1.1733rem;
  line-height: 1.1733rem;
  box-sizing: border-box;
  display: inline-block;
  margin-right: 0.4rem;
  position: relative;
}
.tab-box .tab-item.active {
  color: #297cf7;
  border-bottom: 2px solid #297cf7;
}
.tab-box .tab-item .num{
  position: absolute;
  background-image: url(../../images/my/num.png);
  background-size: 100% 100%;
  left: 70%;
  top: 0.05rem;
  height: 0.44rem;
  line-height: 0.34rem;
  font-size: 12px;
  /* width: 1rem; */
  text-align:center;
  color: #ffffff;
  z-index: 999;
  padding: 0 0.1rem;
}
.list {
  flex: 1;
  overflow-y: scroll;
  box-sizing: border-box;
  margin-top: 0.5333rem;
}
.list .item {
  padding: 0.4rem;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 0.1333rem;
  margin-bottom: 0.2667rem;
  position: relative;
}
.list .item.set {
  margin-bottom: 0.5333rem;
}
.list .item.set::after {
  content: "";
  display: block;
  width: 0.5067rem;
  height: 0.5067rem;
  border-radius: 50%;
  background-image: url(../../images/setting/unselected.png);
  background-size: 100% 100%;
  position: absolute;
  left: -0.2533rem;
  top: -0.2533rem;
}
.list .item.set.active::after {
  background-image: url(../../images/setting/selected.png);
}
.list .item .name {
  font-size: 0.3733rem;
  text-align: justify;
}
.list .item .desc {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 0.32rem;
}
.list .item .time {
  font-size: 0.32rem;
  color: #999999;
}
.list .item .tag {
  display: flex;
}
.list .item .tag span {
  display: inline-block;
  color: #ffffff;
  padding: 0.0667rem 0.1rem;
  border-radius: 0.04rem;
  font-size: 0.32rem;
  margin-right: 0.1333rem;
}
.list .item .tag span:nth-child(1) {
  background-color: #4D8DEB;
}
.list .item .tag span:nth-child(2) {
  background-color: #F7CF2F;
}
.list .item .tag span:nth-child(3) {
  background-color: #38C75D;
}
.list .item .tag span:nth-child(4) {
  background-color: #EF6B31;
}
.recommend {
  width: 100%;
  margin-top: 0.5333rem;
}
.recommend .title {
  font-size: 0.3733rem;
  color: #999999;
  margin-bottom: 0.4rem;
}
.recommend .list-box {
  white-space: nowrap;
  overflow-y: hidden;
  overflow-x: scroll;
  height: 2.48rem;
}
.recommend .list-box .item {
  width: 8.5333rem;
  height: 2.48rem;
  background: #ffffff;
  border-radius: 0.1333rem;
  display: inline-block;
  box-sizing: border-box;
  padding: 0.4rem;
}
.recommend .list-box .item .name {
  font-size: 0.3733rem;
  font-weight: 600;
  white-space: normal;
  text-align: justify;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}
.recommend .list-box .item .label {
  font-size: 0.32rem;
  display: inline-block;
  background-color: #F14040;
  color: #ffffff;
  padding: 0.0667rem;
}

